.body {
    text-align: center
}
.header-text {
    text-align: center;
}

.body1-text {
    text-align: center;
}

.body2-text {
    text-align: center;
}

.flex-container {
    border:4px solid green; 
    width: 50%;
}

.flex-container2 {
    border:4px solid green;
    width: 50%; 
    justify-content: center;
    
}